{
    "projectName": "singlesrv",
    "appLayer": [
        {
            "framework": "laravel",
            "version": "7.2",
            "name": "phpapp",
            "repoName": "https://github.com/your_project_repo/laravel-simpleblog.git",
            "cloneInto": "phpapp",
            "domainToUse": "laravel.your-domain.com",
            "hostname": "laravel-local",
            "repoUserName": "",
            "repoUserPass": "",
            "awsEcrRepository": "123456789123.dkr.ecr.us-east-1.amazonaws.com/your-ecr-repo-name",
            "testContainerPort": "9000",
            "nginxSidecar": "yes" 
        },
        {
            "framework": "nodejs",
            "version": "",
            "name": "nodejsapp",
            "repoName": "https://github.com/your_project_repo/docker-nodejs.git",
            "cloneInto": "nodejsapp",
            "domainToUse": "nodejs.your-domain.com",
            "hostname": "nodejs-local",
            "repoUserName": "",
            "repoUserPass": "",
            "awsEcrRepository": "123456789123.dkr.ecr.us-east-1.amazonaws.com/your-ecr-repo-name",
            "testContainerPort": "3000",
            "nginxSidecar": "no"
        }
    ]
}